<div class="float-right" style="padding-right: 30px; padding-top: 20px;">

    <a [routerLink]="['/create']" class="btn btn-outline-success">Create Album</a>

</div><br>

<h2>My Albums</h2>

<div class="row">
    <div class="col-sm-3 pt-3" *ngFor ="let album of albums">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="album.coverPhotoUrl" alt="Album Cover Photo">
            <div class="card-body">
              <h5 class="card-title">{{album.title}}</h5>
              <a [routerLink]="['/album', album.id]" class="btn btn-primary">Go to Album</a>
            </div>
          </div>
    </div>
    
  </div>
